html, body {
	background: #FFFFFC;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

#header_top {
	height: 100px;
	background: #2D3142;
	margin: 0px;
	margin-bottom: 0px;
}

.logo_64 {
	margin: 10px;
}

.login {
	padding: 25px;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background: #E7DFC6;
	border: 2px solid;
	border-color: #816C61;
    border-radius: 10px;
}

.login_entry {
	
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.error_textfield {
	background-color: #ffafaf;
}

.success_textfield {
	background-color: #99fcbc;
}

#dashboard_side_bar {
	float: left;
	width: 300px;
	height: 100%;
	background-color: #E7DFC6;
}

.dashboard_side_bar_title {
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}